<% qty = food['quantity'] %>
<% if qty > 0 %>
  <tr>
    <td><%= food['name'] %></td>
    <td><%= "#{qty} #{food['measurement_unit']}"  %> </td>
    <td>$<%= food['total_price'] %></td>
  </tr>
<% end %>