
<table class="food-list">
  <tr>
    <th>
      Food
    </th>
    <th>
      Measurement Unit
    </th>
    <th>
      Unit Price
    </th>
    <th>
      Actions
    </th>
  </tr>
  <% @foods.each do |food| %>
    <tr>
      <td>
        <%= food.name %>
      </td>
      <td>
        <%= food.measurement_unit %>
      </td>
      <td>
        $<%= food.price %>
      </td>
      <td>
        <%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <%end%>
</table>